<form method="post" action="/new">
    <div>
        <label for="name">Author:</label>
        <input name="name" id="name" type="text" placeholder="Name" required minlength="3" />
    </div>
    <div>
        <label for="message">Message:</label>
        <input name="message" id="message" type="text"  placeholder="Message"  required minlength="5"/>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>