<header>
    <nav>
        <ul style="display: flex; list-style: none; justify-content: center; gap: 2vmax;">
            <li><a href="/">Home</a></li>
            <li><a href="/new">New Message</a></li>
            <li><a href="/data">All Data</a></li>
        </ul>
    </nav>
</header>